{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="/static/css/base.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<title>
        {% block title %} Home {% endblock %}
     </title>
</head>
<body>
	<div id="app">
		<header>
            <div class="navbar navbar-default">
                <div class="navbar-header">
                    <h1>MySite</h1>
                </div>
            </div>
        </header>
    </div>
    <h2>Главная страница сайта</h2>
<div class="btn btn-success btn-lg">
	<a href="{% url 'resume' %}"> Домашняя страница</a>
</div>
<div class="btn btn-success btn-lg">
	<a href="{% url 'links' %}"> Ссылки на проекты</a>
</div>

{% block content %}
{% endblock content %}
</body>