{% extends '_base.html' %}
{% load static %}

{% block title %} Resume {% endblock %}
{% block content %}
<h3>Мои проекты:</h3>
    <div id="project1">
        <h2>Pageloader</h2> <a href="https://github.com/turamant">- легковесный парсер веб-страниц.</a>
            <p>Помимо html страницы приложение скачивает картинки, стили и js.</p>
<p>Разрабатывал по TDD. Для тестирования использовал моккинг http-запросов,
    отладка велась через логи.</p>
            <p>Стек технологий:</p>
        <ul>
            <li>Манипуляции с DOM (beautifulsoup4)</li>
            <li>Валидация вводимых данных (regexp, urlparse)</li>
            <li>HTTP-запросы (requests, mocking)</li>
            <li>Работа с файловой системой (os, sys)</li>
        </ul>
    </div>
    <div id="project2">
        <h3>GenDiff </h3> <a href="https://github.com/turamant">- приложение сравнивающее файлы json и yaml,</a>
        <p>выполнено в виде cli и библиотеки. За основу взят метод обхода в глубину,</p>
        <p>с помощью которого рекурсивно обходится древовиднаяструктура файлов.</p>
        <p>Стек технологий:</p>
        <ul>
            <li>Архитектура приложения</li>
            <li>Функциональное программирование (чистота, побочные эффекты)</li>
            <li>Работа с древовидными структурами данных посредством рекурсии</li>
            <li>Автоматическое тестирование (pytest, fixtures)</li>
        </ul>
    </div>
    <div id="project3">
        <h3>TaskManager</h3> <a href="https://github.com/turamant">- MVC веб приложение помогающее вести контроль за задачами.</a>
        <p>Preview on Heroku ().</p>
        <p>Стек технологий:</p>
        <ul>
            <li>Django</li>
            <li>Bootstrap</li>
            <li>PostgreSQL</li>
            <li>Heroku</li>
        </ul>
    </div>
    <div id="worktime">
        <h3>Режим работы</h3>
        <p>Можно #parttime, но лучше #fulltime.</p>
        <p>Могу на #удаленке, могу в #офис.</p>
    </div>
    <div id="resume">
        <h3>Моё резюме</h3>
        <a href="https://resume.creddle.io/resume/7nmrp57ynzv">Creddle</a>,
        <a href="https://www.linkedin.com/in/chashinefim/">linkedIn</a>,
        <a href="https://github.com/turamant">GitHub</a>,
    </div>
{% endblock content %}